<h1>Transactions!</h1>

<h2>{{Transactions}}</h2>


<a href ="{% url 'create_transaction'%}">Create Transaction</a>

<table border="1">
        <thead>
            <tr>
                <th>Type</th>
                <th>Created_at</th>
                <th>transaction_timestamp</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
                <tr>
                    <td>{{ obj.transaction_type }}</td>
                    <td>{{ obj.created_at}}</td>
                    <td>{{ obj.transaction_timestamp }}</td>
                    <td>{{ obj.amount }}</td>
                    <td>{{ obj.category }}</td>
                    <td>
                    <a href="{% url 'update_transaction' obj.id %}">Update</a>
                    </td>
                    <td>
                    <a href="{% url 'delete_transaction' obj.id %}">Delete</a>
                    </td>
                </tr>
                
            {% empty %}
                <tr><td colspan="2">No objects found.</td></tr>
            {% endfor %}
        </tbody>
    </table>

<!-- {% for transaction in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ transaction.amount }}<br>
    ...
{% endfor %} -->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>